.container {
    width: 777px;
    margin: 0 auto;
}
body{
    background-image: url("https://wipo.shorthandstories.com/wtt_ai/assets/7vZkMz0GAh/video_poster_1920-1080-1920x1080.jpeg");
    color: white !important;

}